#speakers {
    overflow: hidden;
}

#speakers ul {
    overflow: auto;
    width: 1000px;
}

#speakers ul li {    
    width: 180px;
    height: 120%;
    margin-right: 7%;
    margin-left: 7%;
    margin-bottom: 5%;
    float: left;
    text-align: center;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}


#speakers ul li figure{
    background: none repeat scroll 0 0 #F2F1F8;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    display: block;
    height: 150px;
    margin-left: 15px;
    overflow: hidden;
    position: relative;
    width: 150px;
    border:2px solid #428bca;  
}

#speakers ul li img{
    width: 150px;
}


#speakers ul li:hover figure img{
    display: none;
}


#speakers ul li em{
    display: block;
    margin-top: 10px;
    color: #666666;
    font-size: 16px;
}

#speakers ul li strong{
    color: #d82f52;
}

#speakers ul li strong a{
    color: #d82f52;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}

#speakers ul li strong a:hover{
    text-decoration: underline;
    cursor: pointer;
}

#speakers ul li .socialContainer {
    display: none;
    position: absolute;
    top: 45px;
    left: 5px;
    width: 120px;
    height: 30px;    
}


#speakers ul li:hover .socialContainer {
    display: block;
}

#speakers ul li .socialContainer a{
    width: 20px;
    height: 32px;
    display: block;
    float: left;
    cursor: pointer;
    margin-right: 5px;
}


#speakers ul li .socialContainer a.github{
    background-position: -198px -1342px;
}

#speakers ul li .socialContainer a.twitter{
    background-position: -162px -1342px;
}

#speakers ul li .socialContainer a.web{
    background-position: -240px -1342px;
}
#speakers ul li .socialContainer .icon{
    margin-left: 12px;
}
#speakers ul li .socialContainer .fa{
    color:#428bca;
    font-size: 25px;
    position: absolute;
    top: 18px;
}