body, html {
    height: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#contentAboveFooter {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -51px; 
}

#fakeFooter {
    height: 51px;
}

footer {
    height: 49px;
    background: #0081b6;
    border-top: 1px solid #7fc0da;
    border-bottom: 1px solid #7fc0da;
}

.toCenter {
    width: 960px;
    margin: 0 auto;
}

.sprite {
    background-image: url('../img/sprite.png');
}



.ir {
    display: block; 
    border: 0; 
    text-indent: -999em; 
    overflow: hidden; 
    background-color: transparent; 
    background-repeat: no-repeat; 
    text-align: left; 
    direction: ltr; 
}
.ir br { 
    display: none; 
}

.notFound {
    text-align: center;
}

#venue > p {
    margin: 20px;
    text-align: center;
}
.italic{
    font-style: italic;
}
.clockIcon{
    margin-top: 2px;
}
.clockText{
}
.lucida{
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.label[href]:hover,
.label[href]:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.label:empty {
  display: none;
}
.btn .label {
  position: relative;
  top: -1px;
}
.label-default {
  background-color: #999999;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #808080;
}
.label-primary {
  background-color: #428bca;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #3071a9;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}
.hide{
  display: none;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable {
  padding-right: 35px;
}
.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
.venueAdress{
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 25px;
  width: 270px;
  height: 50px;
  font-size: 14px;
  color: #fff;
  background-color: #428bca;
  position: relative;
}
.venueAdress .fa-map-marker{
  position: absolute;
  left: 10px;
  top:20px;
  font-size: 60px;
}
.venueAdress .venueText{
  position: absolute;
  left: 50px;
  top: 10px;
  padding: 0px 10px 10px 10px;
  font-weight: bold;
}